.form-modal {
    .ant-form-item {
        margin-bottom: 0;
    }
    .ant-input-number {
        width: 100%;
        height: 5rem;
        line-height: 5rem;
        font-size: 2.25rem;
        border: 0;
        background-color: transparent;
        .ant-input-number-input {
            text-align: center;
        }
    }
    .btn-group {
        width: 100%;
        border: 1px solid #E4E2E9;
        border-radius: 0.5625rem;
        .ant-btn {
            border: 0;
            border-top: 1px solid #E4E2E9;
            background: none;
        }
    }
    .delegate-info {
        margin-top: 1.5rem;
    }
    .claimform-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 152px;
        img {
            width: auto;
            height: 100%;
        }
    }
}

.withdraw-modal {
    .claimform-content {
        width: 100%;
        height: 283px;
        padding-bottom: 24px;
        background: #F0EFF4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .unlock-reward {
            width: 100%;
            padding: 0 25px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;
            color: #87828D;
            border-bottom: 1px solid #DAD7E0;
        }
        .ant-btn {
            margin: 0;
            width: 353px;
            height: 57px;
            border-radius: 9px;
            background: #39A0FF;
            border-color: #39A0FF;
            color: #000000;
        }
        .waiting {
            background: #F0EFF4;
            border: 1px solid #DAD7E0;
        }
    }
    .ant-modal-content {
        .ant-modal-header {
            .ant-modal-title {
                text-align: center;
                font-size: 21px;
            }
        }
        .ant-modal-body {
            padding: 0;
        }
    }
}